header {
    font-family: 'Varela Round', sans-serif;
}

body {
    font-family: 'Varela Round', sans-serif;
    text-align: right !important;
    direction: rtl;
}

.navbar {
    display: block;
}

.container {
    margin: 70px;
}

.hardov{
border: 2px solid;
}


#site-img {
    width: 3.125em;
    height: 3.125em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.9em;
    font-weight: bold;
}

h5 {
    font-size: 1.5em;
}

p {
    font-size: large;
}

.allscr {
    width: 900px;
}

.interasting {
    background-color: #d9d9d9;
    border: 1px solid ;
    ;
}

.the_interest {
    width: 127px;
    height: 164px;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 7;
}

.card {
    width: 400px;
}

.third {
    align-self: flex-end;
}

.mountainColor {
    background-color: #E7DCC4;
}

.imagess {
    width: 400px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.mrg {
    margin: 50px 0 50px 0;
}